$tablet-width: 768px;
$desktop-width: 1024px;

.modal {
    position: absolute;
    z-index: 3;
    width: 300px;
    height: 250px;
    margin: 100px auto;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    right: 0;
    left: 0;
    background-color: white;
    color: black;
    .star-blank {
        color: white;
        text-shadow: 0 0 3px #000;
        stroke: black;
        stroke-width: 10;
        padding: 5px;
    }
    form {
        margin-top: -30px;
    }
    input {
        width: 200px;
        height: 30px;
        font-size: 25px;

    }
    button {
        border-radius: 5px;
        width: 100px;
        height: 60px;
        // display: inline-block;
        // margin: 15px;
        font-size: 20px;
      }
      .modal-button-group {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          flex-direction: row;
      }

  @media screen and (max-width: $desktop-width) {
    form {
        input {
            border: 1px solid black;
        }
    }
  }
}